<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta id="viewPorts" name="viewport" content="width=device-width">
<script>
//不同分辨率手机加载
var appVersion = window.navigator.appVersion;
var platform = '', viewPorts = '';
if(appVersion.toLowerCase().indexOf('android')){
	platform = 'android';
}else if(appVersion.indexOf('iPhone') || appVersion.indexOf('iPod') || appVersion.indexOf('iPad')){
	platform = 'ios';
}
var winWidth = window.screen.width,
	targetDensitydpi = winWidth / 640;
switch(platform){
	case 'android':
		var devicePixelRatio = window.devicePixelRatio;
		targetDensitydpi = 640 / winWidth * devicePixelRatio * 160;
		viewPorts = 'width=640,target-densitydpi=' + targetDensitydpi + ',user-scalable=on';
		break;
	case 'ios':
		viewPorts = 'width=640,initial-scale=' + targetDensitydpi + ',mininum-scale=' + targetDensitydpi +',maxinum-scale=' + targetDensitydpi + ',user-scalable=no';
		break;
}
if(viewPorts){
	document.getElementById('viewPorts').setAttribute('content', viewPorts);
}
</script>
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>我的推广二维码-新零售</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/xls/css/base.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/xls/css/common.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/xls/css/index.css" />
<script type="text/javascript" src="__PUBLIC__/xls/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/xls/js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="__PUBLIC__/xls/js/TouchSlide.1.1.js"></script>
<body>

<div class="wrap">
    <!--顶部 开始-->
	<div class="top">
		<a class="back" href="javascript:history.go(-1)"></a>
		<h2 style="text-align:center; float:none;">我的推广二维码</h2>
	</div>
	<!--顶部 结束-->
	<!--主体 开始-->
    <style>
    .wrap{ padding-bottom:0;}
    .tuiguang .tgm{ width:245px; height:245px;  padding:61% 0 0 47%; }
    .tuiguang .tgm img{display:block;width:100%; height:100%; }
    </style>
	<div class="tuiguang">
    <div class="tgm">
    <img src="{$member}"></div>
    </div>
	<!--主体 结束-->
	

</div>
<script type="text/javascript">
$(document).ready(function(){
	refresh();
});
$(window).resize(function(){refresh();});
function refresh(){
};
</script>

</body>
</html>