	<!-- BEGIN SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->        

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

				<!-- 	<form class="sidebar-search">
				
					<div class="input-box">
				
						<a href="javascript:;" class="remove"></a>
				
						<input type="text" placeholder="Search..." />
				
						<input type="button" class="submit" value=" " />
				
					</div>
				
				</form> -->

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li class="start active ">

					<a href="__MODULE__/index/index">

					<i class="icon-home"></i> 

					<span class="title">系统菜单</span>

					<span class="selected"></span>

					</a>

				</li>

				 <li class="">

					<a href="javascript:;">

					<i class="icon-male"></i> 

					<span class="title">活动管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">
                     <!--   <li >
                     
                     							<a href="__MODULE__/activity/index">
                            <i class="icon-user"></i> 
                     							活动列表
                     							</a>
                     
                     						</li> -->
						
						<li >
                            <a href="__MODULE__/activity/index">
                              <i class="icon-user"></i> 
							活动列表
							</a>
							<a href="__MODULE__/activity/activity_shenhe">
                              <i class="icon-user"></i> 
							活动审核
							</a>


						</li>
					</ul>

				  </li>

                	<li class="">

					<a href="javascript:;">

					<i class="icon-male"></i> 

					<span class="title">代理 / 商户管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">
                       <li >

							<a href="__MODULE__/shop/daili_index">
                              <i class="icon-user"></i> 
							代理列表
							</a>

						</li>
						
						<li >

							<a href="__MODULE__/shop/store">
                              <i class="icon-user"></i> 
							商户列表
							</a>

						</li>
						<li >

							<a href="__MODULE__/shop/check_index">
                              <i class="icon-user"></i> 
							代理 / 商户审核
							</a>

						</li>
					</ul>

				</li>
				  <li>

					<a class="active" href="javascript:;">

					<i class="icon-gift"></i> 

					<span class="title">码段管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">
                         <li>

							<a href="__MODULE__/code/index">
                            <i class="icon-gift"></i> 
							码段列表

							</a>
							<a href="__MODULE__/activity/record">
                            <i class="icon-gift"></i> 
							充值记录

							</a>

						</li>

					</ul>

				</li>
			
				
		
					<li>

					<a class="active" href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">系统设置</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="__MODULE__/user/bian">

							密码变更

							</a>

						</li>
					

					</ul>

				</li>
	

      </ul>
			
					
		</div>

		<!-- END SIDEBAR -->