	<!-- BEGIN SIDEBAR -->

		<div class="page-sidebar nav-collapse collapse">

			<!-- BEGIN SIDEBAR MENU -->        

			<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>

				<li>

					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

				<!-- 	<form class="sidebar-search">
				
					<div class="input-box">
				
						<a href="javascript:;" class="remove"></a>
				
						<input type="text" placeholder="Search..." />
				
						<input type="button" class="submit" value=" " />
				
					</div>
				
				</form> -->

					<!-- END RESPONSIVE QUICK SEARCH FORM -->

				</li>

				<li class="start active ">

					<a href="__MODULE__/index/index">

					<i class="icon-home"></i> 

					<span class="title">系统菜单</span>

					<span class="selected"></span>

					</a>

				</li>

			
				<li class="">

					<a href="javascript:;">

					<i class="icon-male"></i> 

					<span class="title">会员管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">
                       
						<li >

							<a href="__MODULE__/member/index">
                              <i class="icon-user"></i> 
							普通会员列表
							</a>

						</li>
						<li >

							<a href="__MODULE__/member/vip_index">
                              <i class="icon-user"></i> 
							VIP会员列表
							</a>

						</li>
						<li >

							<a href="__MODULE__/member/daili_index">
                              <i class="icon-user"></i> 
							代理商列表
							</a>

						</li>
						<li >

							<a href="__MODULE__/member/zong_index">
                              <i class="icon-user"></i> 
							招商总监 / CEO 
							</a>

						</li>
						<li >

							<a href="__MODULE__/member/member_tree">
                              <i class="icon-user"></i> 
							会员关系表
							</a>

						</li>
						 <li >

							<a href="__MODULE__/member/daili_sub">
                              <i class="icon-book"></i> 
							申请代理受理
							</a>

						</li>
					</ul>

				</li>
			
               	<li>

					<a class="active" href="javascript:;">

					<i class="icon-gift"></i> 

					<span class="title">商品管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">
                         <li>

							<a href="__MODULE__/class/index">
                            <i class="icon-gift"></i> 
							分类管理

							</a>

						</li>
						<li>

							<a href="__MODULE__/product/index">
                            <i class="icon-gift"></i> 
							商品列表

							</a>

						</li>
						<li>

							<a href="__MODULE__/product/add">
                             <i class="icon-gift"></i> 
							添加商品

							</a>

						</li>

					</ul>

				</li>
                 	<li>

					<a class="active" href="javascript:;">

					<i class="icon-jpy"></i> 

					<span class="title">提现管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="__MODULE__/tixian/index">
                            <i class="icon-usd"></i> 
							提现申请列表

							</a>

						</li>
						<li>

							<a href="__MODULE__/tixian/finish">
                            <i class="icon-usd"></i> 
							已完成提现记录

							</a>

						</li>

					</ul>

				</li>
				<li>

					<a class="active" href="javascript:;">

					<i class="icon-usd"></i> 

					<span class="title">财务明细</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="__MODULE__/member/ticheng">

							提成记录

							</a>

						</li>
					<li>

							<a href="__MODULE__/member/member_ceo">

							CEO财务信息

							</a>

						</li> 

					</ul>

				</li>
				<li>

					<a class="active" href="javascript:;">

					<i class="icon-shopping-cart"></i> 

					<span class="title">订单管理</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="__MODULE__/member/indent">

							待确认收款订单

							</a>

						</li>
						<li>

							<a href="__MODULE__/member/indent?sta=5">

							已收款待发货订单

							</a>

						</li>
						<li>

							<a href="__MODULE__/member/indent_2">

							已发货订单列表

							</a>

						</li>
						<li>

							<a href="__MODULE__/member/indent_finish">

							已完成订单列表

							</a>

						</li> 

					</ul>

				</li>
					<li>

					<a class="active" href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">系统设置</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="__MODULE__/menu/index">

							前台导航管理

							</a>

						</li>
						<li>

							<a href="__MODULE__/menu/pintuan_index">

							拼团设置

							</a>

						</li>

					</ul>

				</li>
				<li>

					<a class="active" href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">安全设置</span>

					<span class="arrow "></span>

					</a>

					<ul class="sub-menu">

						<li>

							<a href="__MODULE__/user/bian">

							更改密码

							</a>

						</li>
						<li>

							<a href="__MODULE__/login/logout">

							安全退出

							</a>

						</li>

					</ul>

				</li>

      </ul>
			
					
		</div>

		<!-- END SIDEBAR -->