@charset "utf-8";
/* CSS Document */
#footer{
 width:100%; margin:auto;
background:url(../Images/dfhd_03.png) repeat-x; 
height:61px;}
.jiao{
width:100%; color:#fff; line-height:25px;  margin:auto; padding-top:5px; text-align:center;}

.jiao ul{
background: #003300;
padding-top:8px;
}
.jiao li{
color:#9d9d9d;
padding-top:6px;}