<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta id="viewPorts" name="viewport" content="width=device-width">
<script>
//不同分辨率手机加载
var appVersion = window.navigator.appVersion;
var platform = '', viewPorts = '';
if(appVersion.toLowerCase().indexOf('android')){
    platform = 'android';
}else if(appVersion.indexOf('iPhone') || appVersion.indexOf('iPod') || appVersion.indexOf('iPad')){
    platform = 'ios';
}
var winWidth = window.screen.width,
    targetDensitydpi = winWidth / 640;
switch(platform){
    case 'android':
        var devicePixelRatio = window.devicePixelRatio;
        targetDensitydpi = 640 / winWidth * devicePixelRatio * 160;
        viewPorts = 'width=640,target-densitydpi=' + targetDensitydpi + ',user-scalable=on';
        break;
    case 'ios':
        viewPorts = 'width=640,initial-scale=' + targetDensitydpi + ',mininum-scale=' + targetDensitydpi +',maxinum-scale=' + targetDensitydpi + ',user-scalable=no';
        break;
}
if(viewPorts){
    document.getElementById('viewPorts').setAttribute('content', viewPorts);
}
</script>
 <script>

function onBridgeReady(){
    var data={$data};
    WeixinJSBridge.invoke(
        'getBrandWCPayRequest', data, 
        function(res){
            if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                // window.location.href="";
                // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
            }else{
                alert(res.err_code+res.err_desc+res.err_msg); // 显示错误信息
            }
        }
    );
}

 if (typeof WeixinJSBridge == "undefined"){
     if( document.addEventListener ){
         document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
     }else if (document.attachEvent){
         document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
         document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
     }
 }else{
      onBridgeReady();
 }

</script>
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>支付中心-星优集</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/youji/css/base.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/youji/css/common.css" />
<script type="text/javascript" src="__PUBLIC__/youji/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/youji/js/jquery.SuperSlide.js"></script>
<script type="text/javascript" src="__PUBLIC__/youji/js/TouchSlide.1.1.js"></script>
<body>

<div class="wrap">
    <!--顶部 开始-->
    <div class="top">
        <a class="back" href="javascript:history.go(-1)"></a>
        <h2 style="text-align:center; float:none;">支付中心</h2>
    </div>
    <!--顶部 结束-->
    <!--主体 开始-->
    <script>
    $(document).ready(function(){
        $(".main form.confirm .paybox label.radio").click(function(){
            $(this).addClass("checked").siblings("label.radio").removeClass("checked");
        });
    });
    </script>
    <div class="main">
        <form class="confirm" action="__CONTROLLER__/pay" method="post">
            <!-- <p class="sendfee"><span>￥10.00</span>运费</p> -->
            <div class="paybox">
                <h4><span>支付方式</span></h4>
                <label class="radio"><input type="radio" name="pay" value="">
                    <!-- <em></em> -->
                    <img src="__PUBLIC__/youji/images/common/wx.png">
                    <strong>微信支付</strong>
                    <span>支付安全、支持银行卡、信用卡</span>
                </label>
    
            </div>
            <div class="float">
                <input class="submit" type="button" onclick="getOrder()" value="确认支付" />
                <p class="sum">合计：<span class="price">¥<font>{$total_money}</font></span></p>
            </div> 
        </form>
    </div>
    <!--底部导航 开始-->
    <include file="index/footer" />
    <!--底部导航 结束-->
</div>
<script type="text/javascript">
$(document).ready(function(){
    refresh();
});
$(window).resize(function(){refresh();});
function refresh(){
};
</script>

</body>
</html>